<!DOCTYPE html>
<html ng-app="golosBoard" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon-16x16.png">

    <title>Доска почёта GOLOS.IO</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="scripts/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/grid-framework.less">
    <link rel="stylesheet" href="style/style.css">

</head>

<body ng-controller="GolosBoardController as golosBoard">
    <div class="background-image">
        <div class="wrapper"></div>
    </div>



    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="btn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="glyphicon glyphicon-menu-hamburger"></i>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://golos.io/">
                    <img class="golos-logo" alt="golos board" src="https://i.imgsafe.org/04b9b72afb.png">
                </a>
                <a class="navbar-brand golosboard-header" href="http://golosboard.com/">Доска почета
                </a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form action class="navbar-form navbar-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input id="golos-username" ng-model="text"  type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Имя пользователя" type="text" ng-change="text = text.toLowerCase()" name="user"><span class="input-group-btn">
                            <button class="btn btn-default"  type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div id="stats" class="statistics-container container">
        <h1 class="header header-username"><a href="https://golos.io/@{{golosBoard.user}}"><!-- <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTl_HW1gYQ0r3w5tLx46xM136kRXooKf9mLTwCe0vH0DCqlT1aCnXEk6g" alt="user logo" class="user-logo">-->
            <span>@{{golosBoard.user}}</span></a></h1>
        <div class="row">
            <div class="col-sm-4 col-sm-push-4">

                <div class="statistics statistics-center">
                    <img class="statistics-center statistics-level" src="https://arcange.eu/golos-board/{{golosBoard.user}}/level.png" alt="user level" />
                    <p class="statistics-q statistics-center"><span class="glyphicon glyphicon-star"></span>
                        <span ng-model="power">{{statsData.records[0].shares| number: 2}}</span></p>
                    <p class="statistics-d statistics-center"> {{golosBoard.stats[5].description}}</p>
                </div>
            </div>
            <div class="col-sm-2 col-sm-pull-4">
                <div class="statistics statistics-left">
                    <!--                    <img src="" alt="">-->
                    <p class="statistics-q statistics-left"><span class="glyphicon glyphicon-pencil"></span>
                        <span>{{statsData.records[0].post}}</span></p>
                    <p class="statistics-d statistics-left"> {{golosBoard.stats[0].description}}</p>
                </div>
                <div class="statistics statistics-left">
                    <!--                    <img src="" alt="">-->
                    <p class="statistics-q statistics-left"><span class="glyphicon glyphicon-comment"></span>
                        <span>{{statsData.records[0].comment}}</span></p>
                    <p class="statistics-d statistics-left"> {{golosBoard.stats[1].description}}</p>
                </div>
            </div>
            <div class="col-sm-2 col-sm-pull-4 ">
                <div class="statistics statistics-left">
                    <!--                    <img src="" alt="">-->
                    <p class="statistics-q statistics-left"><span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>{{statsData.records[0].commentvotes/statsData.records[0].post| number: 0}}</span></p>
                    <p class="statistics-d statistics-left"> {{golosBoard.stats[2].description}}</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="statistics statistics-right">
                    <!--                    <img src="" alt="">-->
                    <p class="statistics-q statistics-right"><span class="glyphicon glyphicon-ruble"></span>
                        <span>{{statsData.records[0].payout| number: 2}}</span></p>
                    <p class="statistics-d statistics-right"> {{golosBoard.stats[3].description}}</p>
                </div>
                <div class="statistics statistics-right">
                    <!--                    <img src="" alt="">-->
                    <p class="statistics-q statistics-right"><span class="glyphicon glyphicon-ruble"></span>
                        <span>{{statsData.records[0].payout/statsData.records[0].post| number: 2}}</span></p>
                    <p class="statistics-d statistics-right"> {{golosBoard.stats[4].description}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container" id="body-container">
        <div class="header header-section">
            <h3>Награды</h3></div>
        <div class="row row-eq-height placeholders">
            <div class="badge-image col-xs-4 col-sm-2 placeholder" ng-repeat='desc in golosBoard.descs'>
                <img class="img-responsive" src='https://arcange.eu/golos-board/{{golosBoard.user}}/{{desc.id}}.png' alt="badge" data-toggle="modal" data-target="#badgeDescription_{{desc.id}}">

                <div id="badgeDescription_{{desc.id}}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title"><img src='https://arcange.eu/golos-board/{{golosBoard.user}}/{{desc.id}}.png' alt="badge" data-toggle="modal" data-target="#badgeDescription_{{desc.id}}"><span>{{desc.title}}</span></h4>
                            </div>
                            <div class="modal-body">
                                <div ng-bind-html="desc.description"></div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <div class="header header-section">
            <h3>Следующие награды</h3></div>
        <div class="row  row-eq-height placeholders">
            <div class="badge-image col-xs-4 col-sm-2 placeholder" ng-repeat='next in golosBoard.nexts'>
                <img src='https://arcange.eu/golos-board/{{golosBoard.user}}/{{next.id}}.png' data-toggle="modal" data-target="#badgeDescription_{{next.id}}" class="img-responsive" alt="badge">

                <div id="badgeDescription_{{next.id}}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{next.title}}</h4>
                            </div>
                            <div class="modal-body">
                                <div ng-bind-html="next.description"></div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>

</body>

</html>