<!DOCTYPE html>
<html ng-app="golosBoard" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GolosBoard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="scripts/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>

    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="background-image"></div>
    <div class="wrapper" ng-controller="GolosBoardController as golosBoard">
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input id="golos-username" ng-model="golosBoard.user" type="text" class="form-control" aria-describedby="basic-addon1">
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <h1 id="header-username">@{{golosBoard.user}}</h1>
        </div>

        <div class="container" id="body-container">

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder" ng-repeat='desc in golosBoard.descs'>
                    <img src='http://arcange.eu/golos-board/{{golosBoard.user}}/{{desc.id}}.png' alt='badge' data-toggle="modal" data-target="#badgeDescription" class="img-responsive" alt="badge">

                    <div id="badgeDescription" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{desc.title}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div ng-bind-html="desc.description"></div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                </div>
            </div>
        </div>
    </div>

</body>

</html>