* {
    font-family: 'Roboto', sans-serif;
}

.background-image {
    position: fixed;
    z-index: -1;
    display: block;
    background-image: url(https://i.imgsafe.org/433414859e.jpg);
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: auto;
    margin-top: -90px;
}

.jumbotron {
    margin-top: 90px;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.jumbotron a,
.jumbotron a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.wrapper {
    margin-top: -90px;
    margin-bottom: -90px;
    height: 120%;
    background-color: rgba(26, 43, 63, 0.8);
}

.container {
    margin-bottom: 20px;
}

.navbar,
.navbar-default {
    padding-top: 20px;
    background-color: rgba(26, 43, 63, 0.9) !important;
    border: none;
}

.navbar-toggle i {
    color: rgb(51, 122, 183);
}

.input-group-addon,
.form-control,
.input-group-btn .btn-default {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    background-image: none;
    text-shadow: none;
    border-color: transparent;
    box-shadow: none;
}

.form-control:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.mainpage-form {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.mainpage-form .input-group-addon,
.mainpage-form .form-control,
.mainpage-form .input-group-btn .btn-default {
    padding: 0px;
    font-size: 30px;
}

.mainpage-form .form-control {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-transform: lowercase;
    height:60px;
}

.user-logo {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.golosboard-header {
    text-transform: uppercase
}

.golos-logo {
    height: 20px;
    width: 20px;
}

.statistics-container {
    margin-top: 90px;
}

.statistics-level {
    height: 100px;
    width: auto;
}

.statistics {
    margin-bottom: 20px;
}

.statistics-q,
.statistics-d {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.statistics-q {
    font-size: 20px;
    font-weight: 700;
}

#body-container {
    margin-top: 20px;
}

.header {
    vertical-align: middle;
    text-align: center;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.header a {
    color: rgb(255, 255, 255);
}

.header a:hover {
    text-decoration: none;
}

.header-section {
    height: 50px;
    background-size: auto 50px;
}

.header-section h3 {
    padding-top: 12px;
}

.header-username {
    padding-top: 25px;
    height: 90px;
    font-size: 30px;
    background-size: auto 70px;
}

.header-username img {
    margin-right: 10px;
    border: 1.5px solid rgb(26, 43, 63);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.badge-image {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.badge-image img {
    height: auto;
    width: 100px;
    max-width: 100%;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 768px) {
    .statistics,
    .statistics-center,
    .statistics-left,
    .statistics-right {
        text-align: center;
    }
    .header-section h3 {
        font-size: 16px;
        padding-top: 16px;
    }
    .mainpage-form .form-control {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .mainpage-form .form-control {
        font-size: 15px;
    }
    .statistics-center {
        text-align: center;
    }
    .statistics-left {
        text-align: left;
    }
    .statistics-right {
        text-align: right;
    }
}

.modal-dialog {
    margin-top: 10%;
}

.modal-backdrop {
    background-color: rgb(26, 43, 63);
    opacity: 0.9 !important;
}

.modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: rgb(255, 255, 255)
}

.modal-header {
    border: none;
}

.modal-header img {
    float: left;
    margin-top: -35px;
    margin-left: 45px;
}
